@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

img {
    width: 100%;
}

.container {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    position: relative;
}


li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #333;
}

.btn {
    width: 200px;
    border: 1px solid white;
    border-radius: 5px;
    padding: 1rem 2rem;
    color: white;
    margin-top: 0.7rem;
}

.btn2 {
    width: 5rem;
    border: none;
    background-color:#ff6121ff;
    color: white;
    padding: .5rem .8rem;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: .7rem;
    letter-spacing: .1rem;
    text-align: center;
}

.btn:hover {
    border: 1px solid #0f0f0f;
    color: #0f0f0f;
    background-color: white;
    font-weight: 700;
}

nav ul li {
    display: inline-block;
    height: 100%;
    margin-right: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    border-left: 1px solid #777;
    border-right: 1px solid #777;
    padding-left: .5rem;
    padding-right: .5rem;
}

nav ul li a:hover {
    color: rgb(255, 48, 33);
    font-weight: 700;
}

header {
    width: 100%;
    margin: 0 auto;
    padding: 0.5rem 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 1;
}

.logo h4{
    letter-spacing: .5rem;
}

header .logo img {
    width: 10rem;
}

.hamburger {
    position: fixed;
    top: 1.2rem;
    right: 1rem;
    display: none;
    cursor: pointer;
    z-index: 5;
}

.hamburger-menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 10rem;
    height: 100vh;
    background-color: rgb(238, 229, 229);
    z-index: 3;
    display: none;
   
}

.hamburger-menu ul {
    margin-top: 5rem;
    margin-left: 1rem;
}

.hamburger-menu ul li {
    border: none;
    padding: .5rem 0;
}

.hamburger-menu span {
    position: absolute;
    top: .5rem;
    right: .5rem;
    cursor: pointer;
}

.showcase {
    width: 100%;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: #1a1818;
    z-index: 3;
}

.showcase-txt {
    width: 40%;
    height: 100%;
    background-color: #0f0f0f;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 1rem 2rem;
}

.showcase-txt h1 {
    font-size: 2.7rem;
}

.showcase-txt h1 span {
    color: #ff6121ff;
}

.showcase-txt h3 {
    font-size: 1.3rem;
    letter-spacing: 0.3rem;
    color: #d1c5c5;
    text-transform: uppercase;
}

.showcase-img {
    width: 60%;
    height: 100%;
    background-image: url('img/f7.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: f1 2s ease-in;
}

.home {
    width: 1.8rem;
    height: 1.8rem;
    background-color:#ff6121ff;
    position: fixed;
    right: 0%;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home span {
    color: white;
}


.bar {
    width: 100%;
    margin: 0 auto;
   /*  height: 20rem; */
    display: grid;
    grid-template-columns: repeat(5, 2fr);
    grid-gap: 1.5rem;
    background-image: linear-gradient(#ff6121ff, white);
    padding: 1rem 2rem;
    justify-items: space-between;
}

.bar-box {
    max-width: 17rem;
    justify-self: center;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
    margin: 1rem 0;
    box-shadow: 0 1px 3px 3px rgba(0,0,0,0.4);
   
}

.bar-box:hover {
    transform: scale(1.05);
    transition: transform .3s ease-in-out;
    cursor: pointer;
}

.bar-txt {
    text-align: center;
    margin-top: 1rem;
    padding: 0 .3rem .5rem;
}

.bar-txt h5 {
    margin-bottom: 0.5rem;
}

.bar-txt p {
    font-size: .7rem;
}

.zach {
    width: 100%;
    margin: 5rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding: 5rem 2rem;
    align-items: center;
    justify-content: center;
}

.zach-img img{
    border-radius: 50%;
    
}

.zach-txt {
    display: flex;
    flex-direction: column;
    color: rgba(2,2,2,0.7);
    align-items: center;
    justify-content: center;
    text-align: center;
}

.zach-txt h3 {
    margin: 1.5rem 0 0.4rem;
    
}

.zach-txt h5 {
    text-transform: uppercase;
}

.team {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    background-image: url('img/team.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.team-up {
    background-color: #ff6121ff;
    width: 15rem;
    padding: .7rem;
    text-align: center;
    position: relative;
    top: 1rem;
    left: 1rem;
}

.team .team-up:hover{
    transform: scale(.95);
}

.space {
    width: 100%;
    height: 10rem;
}

.history {
    width: 100%;
    padding: 5rem 3rem;
    background-image: url('img/bruce2.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.history .h2 {
    display: flex;
    margin-bottom: 1rem;
}

.history .h2 span {
    font-weight: 700;
    margin-top: .2rem;
}

.history .h2 h2 {
    letter-spacing: .3rem;
}

.news {
    width: 100%;
    margin: 0 auto;
    padding: 4rem 2rem;
   
}

.news h2 {
    letter-spacing: .3rem;
}

.news .hf span {
    font-weight: 700;
}

.news .c-box {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1.5rem;
    margin-top: 1rem;
   
}

.left-box h4 {
    margin-bottom: .7rem;
}

.left-box p {
    margin-top: 1rem;
}


.left-box div {
    display: flex;
    width: 10rem;
    margin-top: .7rem;
    color: #ff6121ff;
}

.left-box div:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.left-box div span{
    margin-top: 1rem;
}

.right-box {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
}

.right-box h4 {
    margin-bottom: .5rem;
}

.right-box .b {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
    border-bottom: 1px solid #333;
    margin-bottom: 1rem;
}


.right-box .b p {
    font-size: 0.8rem;
    margin-top: .7rem;
}

.right-box .b .read-more {
    grid-column: 1/3;
    justify-self: end;
    display: flex;
    width: 10rem;
    color: #ff6121ff;
    align-items: center;
    padding-bottom: 0.5rem;
}

.right-box .b .read-more:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.right-box .b .read-more span {
    margin-top: 0.7rem;
}

.right-box #more1 {
    display: none;
}
.right-box #more2 {
    display: none;
}
.right-box #more3 {
    display: none;
}
.right-box #more4 {
    display: none;
}

.right-box .more {
    grid-column: 1/3;
    justify-self: end;
    margin-bottom: 1rem;
}

.teams {
    position: absolute;
    top: 50%;
    left: 10%;
    width: 80%;
    padding: 5rem 2rem;
    margin: 5rem auto;
    background-color: white;
    border: 1px solid #333;
    transition: .5s ease-in-out;
    display: none;
    
}

.teams #menu-close2 {
    position: absolute;
    bottom: 2rem;
    right:2rem;
}

.teams #menu-close2:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.grid-2 {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
}

.teams h4 {
    margin: 1rem 0 2rem;
    text-transform: uppercase;
    letter-spacing: .5rem;
    background-color: #ff6121ff;
    color: white;
    padding: 1rem;
}

.teams-head {
    display: flex;
    align-items: center;
    letter-spacing: .3rem;
    margin-bottom: 1rem;
}

.teams-head span {
    font-weight: 700;
}

.teams-txt {
    margin: 1rem 0 1rem;
}

.legends {
    width: 100%;
    margin: 0 auto;
    background-color: #f7f2f2af;
    background-image: url('img/F1.svg.png');
    background-position: center;
    background-repeat: repeat-x;
    color:#0f0f0f;
}

.legends h2 {
    margin-top: 1rem;
    margin-left: 2rem;
    letter-spacing: .3rem;
}

.legends img {
    border-radius: 5px;
    box-shadow: 0 1px 1px 1px rgba(1, 1, 1, 0.7);
    margin-bottom: .7rem;
}

.legends-grid {
    padding: 3rem 2rem;
    width: 90%;
    margin: 0 auto;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 4rem;
}

.legends-grid h3 {
    margin-bottom: 1rem;
}

.legends-grid .lg{
    margin: 1rem;
    padding: .9rem;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.3);
}

.hf {
    display: flex;
    align-items: center;
}

.legends .hf span {
    display: inline-block;
    margin-top: 1rem;
    font-weight: 700;
}


footer {
    width: 100%;
    margin: 0 auto;
    padding: 5rem 2rem 2rem;
    text-align: center;
    background-color: #1a1818;
    color: white;
}

footer .line {
    width: 80%;
    margin: 2rem auto;
    height: 2px;
    background-color: #555;
}

.footer-box{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0 3rem;
}


.footer-box img{
    max-width: 2rem;
    margin-right: 1rem;
   
}

.footer-box .f1{
    max-width: 4rem;
}

.footer-box h4 {
    text-transform: uppercase;
}

.footer-bottom {
    margin-top: 2rem;
}

@keyframes f1 {
    0% {
       opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media screen and (max-width:825px) {
    header .nav {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .hamburger:hover {
        transform: scale(1.1);
    }

    #menu-close:hover {
        transform: scale(1.1);
    }

    .bar {
        grid-template-columns: repeat(2, 2fr);
    }

    .zach {
        width: 100%;
        margin: 2rem auto;
        grid-template-columns: 1fr;
        padding: 3rem 2rem;
    }

    .zach-img {
        width: 70%;
        margin: 0 auto;
    }

    .zach-txt {
        width: 90%;
        margin: 0 auto;
    }

    .space {
        height: 3rem;
    }
    
    .news {
        padding: 2rem 2rem;
       
    }

    .footer-box .f1{
        display: none;
    }

    .footer-box div {
        width: 70%;
        margin-left: 1rem;
    }
    
    
}